<p class="text_field">
  <%= form.label :email %>
  <%= form.text_field :email, :type => "email" %>
</p>
<p class="text_field">
  <%= form.label :username %>
  <%= form.text_field :username, :type => "text" %>
</p>
<p class="password_field">
  <%= form.label :password %>
  <%= form.password_field :password %>
</p>
<p class="text_field">
  <%= form.label "Name (optional)" %>
  <%= form.text_field :name, :type => "text" %>
</p>
